name: Release

# We trigger on pushes to tags, since they are pushed with a deploy key
# in the changesets workflow in order to bypass GHA token restrictions.
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions: read-all

# https://github.com/slsa-framework/slsa-github-generator/tree/main/internal/builders/nodejs#generating-provenance

jobs:
  build:
    runs-on: ubuntu-latest

    if: github.repository == 'jakebailey/dprint-plugin-gofumpt'

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'
          package-manager-cache: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: true
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable

      - run: pnpm hereby build

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: artifact
          path: |
            plugin.wasm
            metadata/schema.json

  publish:
    needs: [build]
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: artifact
      - name: Wait for release to exist
        env:
          GH_TOKEN: ${{ github.token }}
          GH_PAGER: ''
        run: |
          until gh release view "${{ github.ref_name }}" --repo "${{ github.repository }}"; do
            echo "Waiting for release ${{ github.ref_name }} to be created..."
            sleep 5
          done
      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            plugin.wasm
            metadata/schema.json
